<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Advanced Searchbox</title>
  <script src="./js/vue.js"></script>
  <link rel="stylesheet" href="default.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container"><div class="navbar-header">
      <a href="#" class="navbar-brand">Vue Advanced Searchbox</a>
    </div></div>
    <div class="navbar-collapse collapse" id="navbar"></div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <h1>Vue Advanced Searchbox</h1>
      <p>This example was created after seeing the Angular Advanced Searchbox</p>
    </div>
    <div class="row">
      <div class="col-sm-12"><strong>Demo</strong></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="app">
            <div id="searchBox">
              <span v-if="nameMode" class="SearchInputs" id="nameBox">
                <label>Name </label>
                <input class="searchParameterInput" name="name" id="name" placeholder="Name..." value=" " tabindex="2">
              </span>
              <span v-if="cityMode" class="SearchInputs" id="cityBox">
                <label>City </label>
                <input class="searchParameterInput" name="city" id="city" placeholder="City..." value=" " tabindex="3">
              </span>
              <span v-if="countryMode" class="SearchInputs" id="countryBox">
                <label>Country </label>
                <input class="searchParameterInput" name="country" id="country" placeholder="Country..." value=" " tabindex="4">
              </span>
              <span v-if="emailAddressMode" class="SearchInputs" id="emailAddressBox">
                <label>E-Mail </label>
                <input class="searchParameterInput" name="emailAddress" id="emailAddress" placeholder="E-Mail..." value=" " tabindex="5">
              </span>
              <span v-if="jobMode" class="SearchInputs" id="jobBox">
                <label>Job </label>
                <input class="searchParameterInput" name="job" id="job" placeholder="Job..." value=" " tabindex="6">
              </span>
              <input name="search" id="searchInput" @keyup="checkSearch" v-model="searchValue" @focus="searchMode = true" placeholder="Search..." @blur="searchMode = false" tabindex="7">
              <button @click="test">Test</button> 
            </div> 
            <p>Search Value: {{ searchValue }}</p>
            <div v-if="searchMode">
              <span class="searchTitle">Parameter Suggestions:</span> 
              <span class="searchParameter">Name</span>
              <span class="searchParameter">City</span>
              <span class="searchParameter">Country</span>
              <span class="searchParameter">E-Mail</span>
              <span class="searchParameter">Job</span>
            </div><br>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="app.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</body>
</html>